#head{
    background-color: #f5ba13;
    color: #fff;
    padding: 30px;
    margin-top: auto -16px;
    font-size: 30px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: "Protest Strike", sans-serif;
    font-style: normal;
}
#body{
    display: inline;
}
#open-todo-form{
    position: relative;
    margin-left: 90%;
    top: -25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-color: #fff;
    font-size: 30px;
    color: #fff;
    background-color: #f3c851;
}
#open-todo-form:hover{
    position: relative;
    margin-left: 90%;
    top: -25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-color: #fff;
    font-size: 30px;
    color: #fff;
    background-color: #e4b228;
 
}
#todo-form{
    font-family: "Protest Strike", sans-serif;
    font-style: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: #ffffff;
    padding: 100px;
    padding-top: 80px;
    border: 1px solid #ccc;
    display: none;
}
#todo-form input{
    font-family: "Protest Strike", sans-serif;
    font-style: normal;
    margin: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
}
h2{
    font-family: "Protest Strike", sans-serif;
    font-style: normal;
    background-color: #f5ba13;
    color: #fff;
    text-align: center;
    margin-bottom: 40px;
}
#adder{
    font-family: "Protest Strike", sans-serif;
    font-style: normal;
    position: relative;
    left: 40%;
    color: #fff;
    background-color: #f5ba13;
    border: #fff;
    width: 50px;
    height: 20px;
}
#cancel{
    font-family: "Protest Strike", sans-serif;
    font-style: normal;
    position: relative;
    color: #fff;
    background-color: #f5ba13;
    border: #fff;
    width: 50px;
    height: 20px;
}

.entry-container {
    
    border: 1px solid #ccc;
    padding: 10px;
    width: 22%;
    display: inline-block;
    gap: 30px;
    margin: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    font-family: "Protest Strike", sans-serif;
    font-style: normal;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}
#displayed-p{
    display: flex;
    justify-content: center;
}
#displayed-h2{
    font-size:large;
}












